<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>/cafe/detail.html</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<style>
	.content{
		border-radius: 5px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	}
	.comment-form{
		display: flex;
	}
	.comment-form textarea{
		height: 100px;
		flex-grow: 1;
	}
	.comment-form button{
		flex-basis: 100px;
	}
</style>
</head>
<body>
	<div class="container">
		<a th:if="${dto.prevNum ne 0}" th:href="@{/cafe/detail(num=${dto.prevNum}, condition=${dto.condition}, keyword=${dto.keyword})}">이전글</a> 
		<a th:if="${dto.nextNum ne 0}" th:href="@{/cafe/detail(num=${dto.NextNum}, condition=${dto.condition}, keyword=${dto.keyword})}">다음글</a>
		
		<p th:if="${not #strings.isEmpty(dto.keyword)}">
			<strong>[[${dto.condition}]]</strong> 조건
			<strong>[[${dto.keyword}]]</strong> 검색어로 검색된 내용 
		</p>	
		<h3>글 상세 보기</h3>
		<table class="table table-bordered" >
			<tr>
				<th>글번호</th>
				<td>[[${dto.num}]]</td>
			</tr>
			<tr>
				<th>작성자</th>
				<td>[[${dto.writer}]]</td>
			</tr>
			<tr>
				<th>제목</th>
				<td>[[${dto.title}]]</td>
			</tr>
			<tr>
				<th>조회수</th>
				<td>[[${dto.viewCount}]]</td>	
			</tr>
			<tr>
				<th>작성일</th>
				<td th:text="${dto.regdate}"></td>
			</tr>
		</table>
		<div class="content">[(${dto.content})]</div>

		<th:block th:if="${dto.writer eq session.userName}">
			<a class="btn btn-outline-success btn-sm" th:href="@{'/cafe/updateform?num=' + ${dto.num}}">수정</a>
			<a class="btn btn-outline-danger btn-sm" href="javascript:" onclick="deleteConfirm()">삭제</a>
			<script th:inline="javascript">
				
				//thymeleaf 가 아래의 javascript 를 어떻게 출력했는지 확인해 보세요
				let dto=[[${dto}]];
				let contextPath=[[@{/}]];
				// 역슬레시 제거하기
				contextPath = contextPath.replace("\\", "");
				
				let contextPath2="[(@{/})]";
				
				function deleteConfirm(){
					
					const isDelete=confirm("이 글을 삭제 하겠습니까?");
					if(isDelete){
						//javascript 를 이용해서 페이지 이동 시키기 
						location.href=contextPath+"cafe/delete?num=[[${dto.num}]]";
					}
				}
			</script>
		</th:block>
		<h4>댓글을 입력해 주세요</h4>
		<!-- 원글에 댓글을 작성할 폼 -->
		<form class="comment-form" th:action="@{/cafe/comment_insert}" method="post">
			<!-- 원글의 글번호가 댓글의 ref_group 번호가 된다. -->
			<input type="hidden" name="ref_group" th:value="${dto.num}"/>
			<!-- 원글의 작성자가 댓글의 대상자가 된다. -->
			<input type="hidden" name="target_id" th:value="${dto.writer}" />
			<textarea name="content">[[${session.userName == null ? "댓글 작성을 위해 로그인이 필요합니다":""}]]</textarea>
			<button type="submit">확인</button>
		</form>
		<script>
			//클라이언트가 로그인 했는지 여부를 javascript 변수에 담아놓고 필요한 처리를 한다.
			const isLogin = [[${session.userName == null ? false : true }]]
			//원글에 댓글달기 폼에 이벤트 submit 이벤트 발생했을때 실행할 함수 등록
			document.querySelector(".comment-form").addEventListener("submit",(e)=>{
				//로그인 하지 않았으면 (isLogin=false) 조건이 true 가 되어(!false) 아래 로직이 실행됨
				if(!isLogin){ 
					e.preventDefault();//폼 전송 막기
					alert("로그인이 필요합니다");
					location.href="[[@{/}]]user/loginform"
				}
			})
		</script>
	</div>
</body>
</html>