<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="container">
		<a th:href="@{/member/insertform}">회원추가</a>
		<h1>회원 목록 입니다</h1>
		<table>
			<thead>
				<tr>
					<th>번호</th>
					<th>이름</th>
					<th>주소</th>
					<th>삭제</th>
					<th>수정</th>
				</tr>
			</thead>
			<tbody>
			<!--/* list 는 List<MemberDto> type 임으로 tmp 는 MemberDto type 이다 */-->
				<tr th:each="tmp : ${list}">
					<td th:text="${tmp.num}"></td>
					<td th:text="${tmp.name}"></td>
					<td th:text="${tmp.addr}"></td>
					<td><a th:href="@{/member/delete(num=${tmp.num})}">삭제</a></td>
					<td><a th:href="@{/member/updateform(num=${tmp.num})}">수정</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>