<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>/user/info.html</title>
<style>
	#profileImage{
		width: 100px;
		height: 100px;
		border: 1px solid #cecece;
		border-radius: 50%;
	}
</style>
</head>
<body>
	<div class="container">
		<a th:href="@{/user/updateform}">개인 정보 수정</a>
		<h1>가입 정보 입니다</h1>
		<table>
			<tr>
				<th>사용자명</th>
				<td>[[${dto.userName}]]</td>
			</tr>
			<tr>
				<th>비밀번호</th>
				<td>
					<a th:href="@{/user/pwd_updateform}">수정하기</a>
				</td>
			</tr>
			<tr>
				<th>프로필 이미지</th>
				<td>
				<th:block th:if="${dto.profile == null}">
					<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
						<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
						<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
					</svg>
				</th:block>
				<th:block th:unless="${dto.profile == null}">
					<img id="profileImage" th:src="@{/upload/images/{name}(name=${dto.profile})}" alt="프로필 이미지" />
				</th:block>	
				
				</td>
			</tr>
			<tr>
				<th>이메일</th>
				<td>[[${dto.email}]]</td>
			</tr>
			<tr>
				<th>가입일</th>
				<td th:text="${dto.regdate}"></td>
			</tr>
		</table>
	</div>
</body>
</html>