<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="post">
	<insert id="insert" parameterType="com.example.boot00.dto.PostDto">
		insert into board_post
		(id, title, author)
		values(board_post_seq.nextval, #{title}, #{author})
	</insert>
	
	<select id="getList" resultType="com.example.boot00.dto.PostDto">
		select id, title, author
		from board_post
		order by id asc
	</select>
	
	<select id="getData" parameterType="int" resultType="com.example.boot00.dto.PostDto">
		select id, title, author
		from board_post
		where id = #{num}	
	</select>
	
	<delete id="delete" parameterType="int">
		delete from board_post
		where id = #{num}
	</delete>
	
	<update id="update" parameterType="com.example.boot00.dto.PostDto">
		update board_post
		set title=#{title}, author=#{author}
		where id=#{id}
	</update>
	
	<select id="selectLastInsertedId" resultType="int">
		select max(id) from board_post
	</select>
</mapper>