<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
.box {
	width: 100px;
	height: 100px;
	background-color: ligthblue;
	border: 1px solid red;
}
</style>
</head>
<body>
	<div class="container" id="app">
		<h1>v-if, v-show 사용하기</h1>
		<!-- v-if 문서요소를 만들지 말지를 제어한다(문서 요소를 조건부로 만들고 제거하기위해)  -->
		<div class="box" v-if="false">box1</div>
		<div class="box" v-if="true">box2</div>
		
		isMake <input type="checkbox" v-model="isMake" />
		<div class="box" v-if="isMake">box3</div>
		
		isShow <input type="checkbox" v-model="isShow" />
		<div class="box" v-show="isShow">box4</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>
		new Vue({
			el : "#app",
			data:{
				isMake:true,
				isShow:true
			}
		})
	</script>
</body>
</html>