<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="container">
		<p>
			<strong>[[${orgFileName}]]</strong> 파일을 업로드 했습니다.
		</p>
		<p>
			저장된 파일명 : <strong th:text="${saveFileName}"></strong>
		</p>
		<p>
			<strong th:text="${fileSize}"></strong>byte
		</p>
		<a th:href="@{/file/download(orgFileName=${orgFileName}, saveFileName=${saveFileName}, fileSize=${fileSize})}">임시 다운로드</a>
	</div>
</body>
</html>