<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="myFooter" style="border:1px solid red; background-color:lightblue;">
		<p>mtFooter 입니다</p>
		<p>blah</p>
		<p>blah</p>
	</div>
	
	<!-- /* 이 fragment 를 사용하는 쪽에서 데이털ㄹ 전달하면 title 에 담긴다.*/-->
	<div th:fragment="yourFooter(title)" style="border:1px solid red; background-color:lightblue;">
		<h3 th:text=${title}></h3>
		<p>blah</p>
		<p>blah</p>
	</div>
</body>
</html>