<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>/gallery/upload_form.html</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<style>
	.drop-zone{
		min-height: 300px;
		border: 3px solid #cecece;
		border-radius: 10px;
		display: flex;
		justify-content: center; /* 좌우로 가운데 정렬 */
		align-items: center; /* 위아래로 가운데 정렬 */
		cursor:pointer;
		flex-wrap:wrap; /* default 값은 nowrap */
		row-gap:10px;
		column-gap:10px;
	}
	.selected{
		width: 200px;
		border-radius:10px;
	}
</style>
</head>
<body>
	<div class="container">
		<h1>이미지 업로드 폼</h1>
		<form id="uploadForm" th:action="@{/gallery/upload}" method="post" enctype="multipart/form-data">
	      	<div class="mb-3">
	         	<label class="form-label" for="caption">설명</label>
	         	<input class="form-control" type="text" name="caption" id="caption"/>
	      	</div>
	      	<div class="mb-3">
	         	<label class="form-label" for="image">이미지</label>
	         	<input class="form-control" type="file" name="images" id="image" accept="image/*" multiple/>
	      	</div>
	      	<div class="drop-zone mb-3">drag and drop image</div>
	      	<button class="btn btn-outline-success btn-sm" type="submit">업로드</button>
	   	</form>
	</div>
	<script>
	//sumbit 이벤트가 일어 났을때  폼에 입력하거나 선택된 파일에 대한 검증하기 
	document.querySelector("#uploadForm").addEventListener("submit", (e)=>{
		
		//입력한 제목 
		const caption=document.querySelector("#caption").value;
		//입력한 제목을 검증할 정규식
		const reg = /^[^ ]+$/; //공백이 아닌 한글자가 한번이상 반복되야 통과하는 정규 표현식
		if(!reg.test(caption)){
			alert("제목을 입력하세요");
			e.preventDefault(); //폼 제출 막기
			return;
		}
		
		//선택한 파일
		const files=document.querySelector("#image").files;
		if(files.length == 0){
			alert("업로드할 이미지를 선택하세요");
			e.preventDefault();
			return;
		}
		
	});
	
		//.drop-zone div 의 참조값
		const dropZone=document.querySelector(".drop-zone");
		//dragover 되었을때 기본 이벤트 막기
		dropZone.addEventListener("dragover", (e)=>{
			e.preventDefault(); //기본 이벤트 막기
		});
		
		//drop 되었을때 이벤트 처리
		dropZone.addEventListener("drop", (e)=>{
			//기본 이벤트 막기(웹브라우저가 해당 파일을 직접 열지 않게 하기 위해)
			e.preventDefault();
			
			//일단 출력된 내용을 삭제하고 
			document.querySelector(".drop-zone").innerText="";
			
			//drop 된 파일의 정보가 들어 있는 배열얻어내기
			const files=e.dataTransfer.files;
			
			//이미지 파일만 담을 배열 
			const imageFiles=[];
			
			//javascript 반복문
			for(let i=0; i<files.length; i++){
				//i 번째 File 객체
				const tmp=files[i];
				//이미지 파일인지 여부를 알아내서 이미지 파일이 아니면 동작하지 않도록 설정
				const reg=/image/;
				if(!reg.test(tmp.type)){ //파일의 type 이 만일 정규표현식을 통과하지 못하면
					console.log("이미지 파일이 아닙니다")
					continue; //반복문 수행을 계속 이어간다 
				}
				//이미지 파일을 배열에 누적시킨다 
				imageFiles.push(tmp);
				//파일로 부터 데이터를 읽어들일 객체 생성
				const reader=new FileReader();
				//파일을 DataURL 형식의 문자열로 읽어들이기
				reader.readAsDataURL(tmp);
				//로딩이 완료(파일데이터를 모드 읽었을때) 되었을때 실행할 함수 등록
				reader.onload=(event)=>{
					//읽은 파일 데이터 얻어내기 
					const data=event.target.result;
					let img = `<img class="selected" src="${data}" >`;
					document.querySelector(".drop-zone").insertAdjacentHTML("beforeend", img);
				};
			}
			
			//DataTransfer 객체 생성
			const dataTransfer = new DataTransfer();
			// imageFiles 배열에 들어 있는 선택된 이미지 파일을 DataTransfer 객체에 모두 넣어주기  
			imageFiles.forEach(item => dataTransfer.items.add(item));
			
			// input type="file" 에 DataTransfer 객체에 담긴 파일 목록을 넣어주기 
			document.querySelector("#image").files=dataTransfer.files;
			
		});
	</script>
</body>
</html>








