<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="container">
		<h1>회원 목록 입니다.</h1>
		<table>
			<thead>
				<tr>
					<th>번호</th>
					<th>이름</th>
					<th>주소</th>
				</tr>
			</thead>
			<tbody>
			<!-- /*
				list 는 List<MemberDto> 이기 때문에 tmp 는 MemberDto type 이다
			*/ -->
				<tr th:each="tmp : ${list}">
					<td>[[${tmp.num}]]</td>
					<td th:text="${tmp.name}"></td>
					<td th:text="${tmp.addr}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>